* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    font-size: 30px;
}

header {
    height: 100vh;
    background-image:linear-gradient(to top, rgba(161, 140, 209, 0.274) 0%, rgba(251, 194, 235, 0.356) 100%), url(img/EL-SALTO.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: contain;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-size: 18px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-size: 40px;
}

.text {
    text-align: justify;
    font-size: 30px;
    max-width: 900px;
}
